
<div class="container">
  <h2 class="header">Single Product Details</h2>
  <div class="col-md-8">
    <table class="table table-hover">
      <thead class="thead-dark">
        <tr>
          <th>Category</th>
          <th>Description</th>
          <th>Price</th>
          <th>Weight</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{prod.category}}</td>
          <td>{{prod.description}}</td>
          <td>{{prod.price}}</td>
          <td>{{prod.weight}}</td>
        </tr> 
      </tbody>
    </table>
  
  <button class="btn btn-secondary" (click)="goBack()">Back to List</button>
</div>




  
